{% extends 'base.html' %} 

{% load crispy_forms_tags %}
{% block content %}
<div class="flex justify-center items-center min-h-screen bg-gray-900">
  <div class="w-full max-w-md bg-gray-800 rounded-lg shadow-md p-6">
    <h1 class="text-center text-white py-4 font-bold text-xl">Transfer Money</h1>
    <form method="post" class="space-y-4">
      {% csrf_token %}
      {{ form|crispy }}
      <div class="flex justify-center">
        <button type="submit" class="bg-blue-600 text-white hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-opacity-50 font-bold px-4 py-2 rounded-lg transition duration-150 ease-in-out">Transfer</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
